In [1]:
%load_ext autoreload
%autoreload 2
from synthpop.census_helpers import Census
from synthpop import categorizer as cat
import pandas as pd
import numpy as np
import os
pd.set_option('display.max_columns', 500)

In [2]:
c = Census("9a4c2a21c5df73622f43cf008155c45b68067d40")
p_pums = c.download_population_pums("48")

/home/ubuntu/github/synthpop/synthpop/census_helpers.py:208: DtypeWarning: Columns (107,108,109) have mixed types. Specify dtype option on import or set low_memory=False.
  pums_df = pd.read_csv(loc, dtype={

In [3]:
austin = pd.HDFStore("../data/custom_mpo_48197301_model_data.h5")

In [4]:
austin_hh = austin["households"]
austin_p = austin["persons"]

In [5]:
austin_p = pd.merge(austin_hh["serialno"], austin_p, left_index=True, right_on='household_id')
p_pums["serialno"] = p_pums["serialno"].astype("int64")
austin_p = pd.merge(austin_p.reset_index(), p_pums[["serialno","SPORDER", "MAR"]], left_on=['serialno', 'member_id'],
                   right_on= ['serialno', 'SPORDER']).set_index("person_id")

In [6]:
austin_p.columns

Index(['serialno', 'age', 'earning', 'edu', 'hispanic', 'hours', 'member_id',
       'race_id', 'relate', 'sex', 'student', 'work_at_home', 'worker',
       'household_id', 'person_age', 'person_sex', 'race', 'hispanic.1',
       'p_hispanic', 'work_zone_id', 'school_zone_id', 'SPORDER', 'MAR'],
      dtype='object')

In [8]:
austin["persons"] = austin_p
austin.close()

In [14]:
austin["travel_data"]

                         auto_ivtt_8_9_am  auto_cost_8_9_am
from_zone_id to_zone_id
0            0                   0.000000          0.000000
             1                   4.785752          0.278894
             2                   7.190386          0.382905
             3                   7.557909          0.452640
             4                   8.416817          0.479763
...                                   ...               ...
2160         2156               14.740949          1.289929
             2157               11.517707          1.011176
             2158               12.055138          1.086580
             2159               13.448853          1.465222
             2160                3.119560          0.234500

[4669921 rows x 2 columns]